@import 'splitpanes/dist/splitpanes.css';

/* Глобальные стили */
body {
    background-image: url('@/assets/background.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

html, body, #app {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

:root {
  --pico-font-size: 90%;
}

.splitpanes__pane {
  background: transparent !important;
}

.splitpanes.default-theme .splitpanes__pane {
  background: transparent !important;
}

.splitpanes__splitter {
  background-color: var(--bs-border-color) !important;
  border: none !important;
}

.splitpanes__splitter::before,
.splitpanes__splitter::after {
  background-color: var(--bs-border-color) !important;
}

.splitpanes--vertical > .splitpanes__splitter {
  width: 4px !important;
  min-width: 4px !important;
}

.splitpanes--horizontal > .splitpanes__splitter {
  height: 4px !important;
  min-height: 4px !important;
}